/adopcion.class
/animal.class
/persona.class
/Persona.class
/prueba.class
/Prueb.class
/Animal$EstadoSalud.class
/CentroAdopcion$tipoServicio.class
/CentroAdopcion.class
/Pruebas_Clases.class
/Cliente.class
